@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Roboto+Condensed:400,300');

@font-face{
	font-family: "Liberation Serif";
	src: url('../fonts/LiberationSerif-Regular-webfont.eot');
	src: url('../fonts/LiberationSerif-Regular-webfont.woff') format('woff'),
		 url('../fonts/LiberationSerif-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/LiberationSerif-Regular-webfont.svg') format('svg');
	font-style: normal;
	font-weight: normal;
}