@import url('fonts.css');

*{
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans';
	font-weight: 400;
	color: white;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 640px) {}

@media screen and (min-width: 720px) {}

@media screen and (min-width: 1080px) {}

@media screen and (min-width: 1200px) {
	nav{
		position: fixed;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 15px;
		background: transparent;
		-webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);
	}

	#links{
		display: inline;
		margin-top: -50px;
		float: right;
	}

	nav a{
		font-family: 'Roboto Condensed';
		padding-left: 40px;
		padding-right: 40px;
	}

	nav a:link, nav a:visited, nav a:hover, nav a:active{
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 32px;
	}

	header{
		background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)), url("../img/header.jpg");
		background-size: 100%;
		background-position: center top;
		background-repeat: no-repeat;
		height: 720px;
	}
}
