@import url('fonts.css');

iframe {
    border: none;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans';
	font-weight: 400;
	color: white;
}

nav{z-index: 9999;}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 720px) {}

@media screen and (min-width: 1200px) {
	.init{background: transparent;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;o-transition: all 0.5s ease;transition: all 0.5s ease;}
	.normal{background: #F2F1EF;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;o-transition: all 0.5s ease;transition: all 0.5s ease;-webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);-moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.15);}
	.normal a:active, .normal a:hover, .normal a:visited, .normal a:link{color: #191919;}
	.normal .fa{color: #191919;}
	nav{
		display: inline;
		position: fixed;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 15px;
	}
	
	nav a{
		padding-top: 20px;
		float: right;
		font-family: 'Roboto Condensed';
		padding-left: 50px;
		padding-right: 50px;
	}

	nav a:link, nav a:visited, nav a:hover, nav a:active{
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 24px;
	}

	header{
		background: linear-gradient(rgba(20,20,20, .4),rgba(20,20,20, .4)), url("../img/header.jpg");
		background-size: 100%;
		background-position: center 80%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height: auto;
	}

	#tag{
		padding-top: 270px;
		padding-bottom: 200px;
	}

	#tag h1{
		font-family: "Fira Sans";
		font-size: 72px;
		letter-spacing: -1px;
		margin-bottom: 20px;
	}

	#tag h1 span{
		padding: 20px;
		border: 2px solid white;
		outline: 2px solid white;
		outline-offset: 5px;
	}

	#tag hr{
		border: 1px solid white;
		border-radius: 4px;
	}

	#tag h3{
		font-size: 32px;
	}

        #content{z-index: 0;}

	section{
		margin: 0;
		background: url('../img/page.png');
		width: auto;
		position: relative;
		display: block;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 0px;
	}

	.card{
		height: 100%;
		padding: 1.5rem;
		box-shadow: 0 1px 2px #aaa;
		background: white;
		border-radius: 3px;
	}

	.card h1{
		font-family: "Liberation Serif";
		color: black;
		font-size: 32px;
	}

	.card hr{
		border: 1px dashed rgba(25, 25, 25, 0.3);
		border-radius: 0px;
		width: 25%;
		float: left;
		display: block;
	}

	.card p{
		font-size: 20px;
		margin-top: -10px;
		color: #191919;
	}

	.future{
		border: 1px dashed rgba(25, 25, 25, 0.3);
		border-radius: 0px;
		width: 100%;
		display: block;
	}

	footer{
		background: url('../img/page.png');
		color: #191919;
	}
}
